<div>
<h3>Blogs</h3>
<% Blog.limit(4).each do |blog| %>
<div class="card">
    <p>
    <strong>Title:</strong>
    <%= blog.title %>
    </p>
    <p>
    <strong>created_at:</strong>
    <%= blog.created_at %>
    </p>
    
    <p>
    <strong>Text:</strong>
    <%= blog.text %>
    </p>
    <div class='comments'>
        <table class="table table-striped">
            <tbody>
                <% blog.comments.each do |comment| %>
                    <% @comment = comment %>
                    <%= render 'comment' %>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
<% end %>
</div>