<div id="blogs">
<h3 id='insert0'>Blogs</h3>
<table id='insert1' class = 'table table-stripped'>
     <tbody id='insert2'>
<% @blogs.each do |blog| %>
<tr id='insert3'> <td id='insert4'>
<div id='insert5' class="card">
    <p id='insert6'>
    <strong id='insert7'>Title:</strong>
    <%= blog.title %>
    </p>
    <p id='insert8'>
    <strong id='insert9'>created_at:</strong>
    <%= blog.created_at %>
    </p>

    <p id='insert10'>
    <strong id='insert11'>Text:</strong>
    <%= blog.text %>
    </p>
</div>
</td> </tr>
<% end %>
 </tbody>
</table>
<%= will_paginate @blogs %>
</div>
