<div id="users">
<h3 id='insert15'>Users</h3>
<% @users.each do |user| %>
    <p id='insert16'><strong id='insert17'> Name:</strong>  <%= user.name%></p>
    <p id='insert18'><strong id='insert19'> Nickname:</strong> <%= user.nickname%></p>
    <p id='insert20'><strong id='insert21'> Address:</strong> <%= user.address%></p>
    <p id='insert22'><strong id='insert23'> Created_at:</strong> <%= user.created_at%></p>
<% end %>
</div>

