

 <div id="main-container" class="container">
  
        <div id="content" class="col-xs-9">
            <p id='insert24'> count 1: <%= @count %> </p>
            <p id='insert25'> count2 <%= render_async count_stats_path %> </p>
			<p id='insert26'> user_id <%=  @user.id %> </p>
        </div>
</div>
